In [ ]:
#1.create a list which contains all datatypes

In [6]:
l = [ 3 , "hello" , 5.6 , True , (3+4J)]
l

[3, 'hello', 5.6, True, (3+4j)]

In [ ]:
#2.want a tuple which contains only even numbers

In [5]:
a = (2 , 4, 6, 8)
a

(2, 4, 6, 8)

In [ ]:
#3.dictionary of a person it should contain 5 key value pairs

In [4]:
profile = {'name':'kanmani' ,'age':33 ,'city':'chennai' , 'salary':70000 ,'phno' : '9943567889'}
profile

{'name': 'kanmani',
 'age': 33,
 'city': 'chennai',
 'salary': 70000,
 'phno': '9943567889'}

In [7]:
type(profile)

dict

In [ ]:
#4 creating a set with repeated values

In [1]:
s = {1 , 2 , 2, 4, 4 , 7 , 7}

In [2]:
s

{1, 2, 4, 7}

In [3]:
type(s)

set

In [ ]:
#5.elif ladder 1 monday

In [9]:
a = int(input("enter the number 1 to 7"))
if a == 1:
   print("monday")
elif a == 2:
    print("tuesday")
elif a == 3:
    print("wednesday")
elif a == 4:
    print("thursday")
elif a == 5:
    print("friday")
elif a == 6:
    print("saturday")
elif a == 7:
    print("sunday")

enter the number 1 to 7 6

saturday

In [ ]:
#6 .print each charater of string using for loop

In [18]:
b = input("enter the string")
for i in b:
   print(i)

enter the string apple

a
p
p
l
e

In [ ]:
#7 .Take a comma-separated string of integers, remove duplicates, sort them in descending order, and return the
#median.

In [1]:
e = input("enter the numbers")
f = e.split(",")
print(f)
f.sort()
d = (set(f))
print(d)
i = list(d)
print(i)
g = len(i)
print(g)
if g%2 == 1:
   m = i[g // 2]
else:
   m =(i[g // 2 - 1] + i[g // 2]) /2
print(m)

enter the numbers 8,7,9,5

['8', '7', '9', '5']
{'7', '8', '9', '5'}
['7', '8', '9', '5']
4

In [ ]:
#8.From a nested dictionary of employees, count how many employees have a salary greater than 50,000.

In [18]:
emp = {'e1': {'name':'meena','salary':80000},
     'e2': {'name':'ramya','salary':20000},
       'e3': {'name':'gita','salary':60000},
       'e4': {'name':'sita','salary':56000}}
count = 0
for i in emp.values():
 if i['salary'] > 50000:
     count += 1
     print(count)

1
2
3

In [ ]:
#9.Take 3 integers and print the largest among them only if it is even and not divisible by 4. Otherwise, print
#"Not Eligible".

In [74]:
n1 = int(input("enter the 1st number"))
n2 = int(input("enter the 2nd number"))
n3 = int(input("enter the 3rd number"))
l = max(n1,n2,n3)
if l % 2 == 0 and l % 4 !=0:
  print(l)
else:
  print("not eligible")

enter the 1st number 12
enter the 2nd number 24
enter the 3rd number 38

38

In [ ]:
#10.From a given string, count how many alphabets appear immediately after a digit.
#sample input - a3b4c5d

In [25]:
a=input('enter alphanumeric string')
count=0
for i in range(1,len(a)):
 if a[i].isalpha() and a[i-1].isdigit():
    count+=1
print(count)

enter alphanumeric string 1a2d6f8g

4

In [ ]:
#11.Create two lists: one with names and one with corresponding ages. Store all names where the age is strictly
#greater than 18 in a separate list. Ensure both lists have equal length.

In [43]:
name = ["rani", "gita", "ramya", "nilan", "suresh"]
age = [12,34,16,19,22]
type(name)
p = name + age
print(p)

['rani', 'gita', 'ramya', 'nilan', 'suresh', 12, 34, 16, 19, 22]

In [46]:
r = []
for i in age:
    if int(i) > 18:
     r.append(name)
print("names are ",r)

names are  [['rani', 'gita', 'ramya', 'nilan', 'suresh'], ['rani', 'gita', 'ramya', 'nilan', 'suresh'], ['rani', 'gita', 'ramya', 'nilan', 'suresh']]

In [15]:
#Step 1: Take input
input_str = input("Enter comma-separated integers: ")

#Step 2: Split the string and convert to integers
numbers = input_str.split(",")
numbers = [int(num) for num in numbers]

#Step 3: Remove duplicates using set, then convert back to list
numbers = list(set(numbers))

#Step 4: Sort the list in descending order
numbers.sort(reverse=True)

#Step 5: Find the median
length = len(numbers)
if length % 2 == 1:
 median = numbers[length // 2]
else:
 median = (numbers[length // 2 - 1] + numbers[length // 2]) / 2

#Step 6: Print the result
print("Sorted list (descending):", numbers)
print("Median:", median)

Enter comma-separated integers:  1,1,2,2,6,7

Sorted list (descending): [7, 6, 2, 1]
Median: 4.0

In [17]:
# Step 1: Take 3 integer inputs
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

#Step 2: Find the largest
largest = max(a, b, c)

#Step 3: Check the condition
if largest % 2 == 0 and largest % 4 != 0:
 print("Largest eligible number:", largest)
else:
 print("Not Eligible")

Enter first number:  16
Enter second number:  8
Enter third number:  10

Not Eligible

In [19]:
#Take input as space-separated or comma-separated values
input_str = input("Enter 3 numbers (comma or space separated): ")

#Split and convert to integers
if ',' in input_str:
 nums = [int(x) for x in input_str.split(',')]
else:
 nums = [int(x) for x in input_str.split()]

#Use for loop to find the largest
largest = nums[0]
for num in nums[1:]:
 if num > largest:
    largest = num

#Check condition
if largest % 2 == 0 and largest % 4 != 0:
 print("Largest eligible number:", largest)
else:
 print("Not Eligible")

Enter 3 numbers (comma or space separated):  8,16,10

Not Eligible

In [23]:
#Take input
input_str = input("Enter 3 numbers (comma or space separated): ")

#Convert to list of integers
if ',' in input_str:
 nums = [int(x) for x in input_str.split(',')]
else:
 nums = [int(x) for x in input_str.split()]

#Filter only even numbers not divisible by 4
eligible = []
for num in nums:
 if num % 2 == 0 and num % 4 != 0:
    eligible.append(num)

#Check and print result
if eligible:
 largest = eligible[0]
 for num in eligible[1:]:
     if num > largest:
        largest = num
 print("Largest eligible number:", largest)
else:
 print("Not Eligible")

Enter 3 numbers (comma or space separated):  18,12,10

Largest eligible number: 18

In [27]:
names=['abc','def','ghi']
ages=[19,16,20]
name=[]
age=[]

for i in range(len(names)) :
 if ages[i]>18:
    name.append(names[i])
    age.append(ages[i])
print(name)
print(age)

['abc', 'ghi']
[19, 20]