In [ ]:
#if else statments
if condition:
    code block if condition is True
else:
    code block if condition is False

In [2]:
age = 15
if age >= 18 :
    print (" your are eligible to vote")
else:
    print ("your are not eligible to vote")

your are not eligible to vote

age = int(input("enter your age"))
if age >= 18 :
    print (" your are eligible to vote")
else:
    print ("your are not eligible to vote")

In [8]:
x = int(input("Enter the number")) #1 
if x >0 :
    print(" number is positive")
else:
     print("number is negative ")

Enter the number 0

number is negative

In [11]:
x = int(input("Enter the number")) # two conditions
if x >0 :
    print(" number is positive")
elif x==0:
    print("number is 0")
else:
    print("number is negative ")

Enter the number -4

number is negative

In [ ]:
#1.Grade calculator #float
90 and above - grade A
75 to 89 - grade B
60 to 74 - grade C
below 60 - grade D

In [ ]:
#nested if
if condition1:
    if condition2:

In [14]:
age = 20
id = False
if age >= 18:
    if id:
        print("you can vote")
    else:
        print("you need ID to vote")
else:
    print("your too young")

you need ID to vote

In [3]:
age = int(input("Enter your age: "))
has_id = input("Do you have a valid ID? (yes/no): ")
if age >= 18:
   if has_id.lower() == "yes":
    print("Access granted.")
   else:
    print("You need a valid ID to enter.")
else:
    print("You must be at least 18 years old.")

Enter your age:  34
Do you have a valid ID? (yes/no):  No

You need a valid ID to enter.

In [22]:
#Student scholarship eligibility Condition 1 - 12th pass , condition 2 = score above 90 = eligibile otherwise not

In [ ]:
#while - control statments
while condition:
    print( "statment")

In [3]:
count = 0
while count <= 5:
    print(count)
    count += 1

0
1
2
3
4
5

In [4]:
count = 0
while count <= 5:
    print(count)
    count += 1

0
1
2
3
4
5

In [7]:
count = 6
while count <= 5:
    print(count)
    count += 1
else:
    print("loop exit")

loop exit

In [8]:
#break , continue
x=1
while x<10:
    print(x)
    if x==5:
        break
    x += 1

1
2
3
4
5

In [5]:
x=1
while x<10:
     x += 1
     if x==5:
        continue
     print(x)

2
3
4
6
7
8
9
10

In [ ]:
#print only even numbers from 1 to 20 using While loop
#print numbers from 1 to 100 stop at 50 using break
#print numbers from 1 to 100 stop at 50 using continue

In [ ]:
#for
for variable in sequence:

In [5]:
for i in range(5):
    print(i)

0
1
2
3
4

In [7]:
#list
fruit = ["apple" ,"grapes" ,"orange" ,"mango" ,"banana"]
fruit
type(fruit)

list

In [8]:
for i in fruit: #list
    print(i)

apple
grapes
orange
mango
banana

In [10]:
for index , i in enumerate(fruit): #indexing
    print(index , i)

0 apple
1 grapes
2 orange
3 mango
4 banana

In [11]:
index_names = ["one", "two", "three", "four", "five"]
fruits = ["apple", "banana", "cherry", "mango", "orange"]

for idx, fruit in enumerate(fruits):
 print(f"{index_names[idx]}: {fruit}")

one: apple
two: banana
three: cherry
four: mango
five: orange

In [ ]:
#create a list with positive values and negative values and 0 .print only positive values from the list
#count the vowels in a given string

In [12]:
num = [1,2,3,4,5,6,7,8,9,10]
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
num*num

TypeError: can't multiply sequence by non-int of type 'list'

In [14]:
square = [x**2 for x in num] # to find the square values
square

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
cube = [x**3 for x in num] #cube
cube

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]